@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --Purple-50: hsl(260, 100%, 95%);
    --Purple-300: hsl(264, 82%, 80%);
    --Purple-500: hsl(263, 55%, 52%);

    --White: hsl(0, 0%, 100%);
    --Grey-100: hsl(214, 17%, 92%);
    --Grey-200: hsl(0, 0%, 81%);
    --Grey-400: hsl(224, 10%, 45%);
    --Grey-500: hsl(217, 19%, 35%);
    --Dark-blue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);

    --Main-font: "Barlow Semi Condensed", sans-serif;
}


body {
    background-color: var(--Grey-200);
    min-height: 100vh;
    font-family: var(--Main-font);
}


.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 4.375rem;
    margin-bottom: 4.375rem;
}


.card {
    width: min(90%, 50rem);
    border-radius: 0.625rem;
    padding: 3.125rem;
}


img {
    width: 3rem;
    border-radius: 50%;
    border: 0.125rem solid var(--Grey-200);
}

 
figure {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    color: var(--Grey-100);
}


figcaption div {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}


.name {
    font-weight: 500;
}


h3 {
    color: var(--White);
    margin-top: 1.4375rem;
    font-size: 1.5rem;
    font-weight: 500;
}


.review {
    margin-top: 1.25rem;
    color: var(--Grey-100);
}


.card-1 {
    background-color: var(--Purple-500);
}


.card-2 {
    background-color: var(--Grey-500);
}


.card-3,
.card-5 { 
    background-color: var(--White);
}


.card-3 div,
.card-5 div {
    color: var(--Black);
}


.card-3 h3,
.card-5 h3 {
    color: var(--Grey-500);
}


.card-3 .review, 
.card-5 .review {
    color: var(--Black);
}


.card-4 {
    background-color: var(--Dark-blue);
}


@media (min-width: 70em) {
    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 95%;
        margin-inline: auto;
        align-items: stretch;
    }

    .card-1 {
        grid-column: span 2;
        width: 100%;
    }


    .card-2,
    .card-3 {
        width: 100%;
    }
    

    .card-4 {
        grid-column: span 2;
        width: 100%;
    }


    .card:last-child {
        grid-column-start: 4;
        grid-row: 1 / span 2;
    }

}